.plus_icon {
    width: 18px;
    margin-right: 5px;
}

.header_template_button {
    background-color: var(--green-500, #22C55E) !important;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    height: 54px;
    padding: 5px 16px;
    max-width: 200px !important;
}