# Copy/paste this as .coordinator.env and update PUBLIC_EXCHANGE_HOST to your local IP

ENABLE_STATUS_SERVICE=true
PUBLIC_EXCHANGE_HOST=http://localhost:3000/api # Run `ip a` in a terminal and find your local ip (should be 192.168.something), then swap with this so that you can scan QR from your phone!
TENANT_TOKEN_LEF_TEST=UNPROTECTED
