# Copy/paste this as .status-service.env and update to your stuff as described here: https://github.com/digitalcredentials/workflow-coordinator#enable-revocation

CRED_STATUS_REPO_OWNER=TaylorBeeston
CRED_STATUS_REPO_NAME=StatusList
CRED_STATUS_META_REPO_NAME=StatusListMeta
CRED_STATUS_ACCESS_TOKEN=<your-pat>
CRED_STATUS_DID_SEED=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
