.navbar-wrapper {
    background-color: #ffffff;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    z-index: 100;
    flex-shrink: 0;
    gap: 4.375rem;
    padding: 2.5rem 1.25rem;

    & > header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding-bottom: 2.5rem;
    }

    & > section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    & > footer {
        border-top: 1px solid var(--slate-200, #e2e8f0);
        text-align: center;
        width: 100%;
        padding-top: 2.5rem;
    }

    @media (max-width: 1024px) {
        width: 0;
        transition:
            transform 200ms ease,
            width 200ms ease;
        transform: translateX(-400px);

        & > header > button {
            transition: position 200ms ease;
            right: calc(-386px);
        }

        &.open {
            width: 100%;
            transform: translateX(0);

            & > header > button {
                right: unset;
            }
        }
    }
}

.navbar-buttons {
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    gap: 0px;
    align-items: center;
    font-size: 16px;
    text-decoration: none;

    transition: gap;

    &.active {
        background-color: var(--green-100, #dcfce7);
        border-radius: 100px;
    }

    & > img {
        width: 22px;
        height: 22px;
    }

    &.open {
        gap: 10px;
    }
}
