.revocation-warning,
.revocation-details {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    & > form,
    & > section {
        position: relative;
        background-color: white;
        border-radius: 1.25rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
        width: 100%;
        max-width: 37.5rem;

        & > header {
            background-color: var(--red-600, #dc2626);
            border-radius: 6.25rem;
            padding: 1.25rem;
            color: white;

            & > svg {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        & > h2 {
            color: var(--lc-grayscale-900-primary-dark, #18224e);
            text-align: center;
            font-family: Inter;
            font-size: 1.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.25rem; /* 120% */
            letter-spacing: -0.01406rem;
        }

        & > p {
            color: var(--lc-grayscale-900-primary-dark, #18224e);
            text-align: center;
            font-family: Inter;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.625rem; /* 130% */
        }

        & > section {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625rem;
            align-self: stretch;

            & > span {
                color: var(--lc-grayscale-900-primary-dark, #18224e);
                text-align: center;
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.005rem;
            }
        }

        & > label {
            color: var(--slate-600, #475569);
            /* subtle */
            font-family: Inter;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem; /* 142.857% */

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-self: stretch;
            gap: 0.625rem;

            & > textarea,
            & > output {
                display: flex;
                padding: 0.90625rem 1.5rem 2.84375rem 1.5rem;
                justify-content: center;
                align-items: center;
                align-self: stretch;

                resize: none;
                outline: none;

                border: none;
                border-radius: 0.625rem;
                background: var(--slate-100, #f1f5f9);

                color: var(--slate-900, #0f172a);

                /* subtle-medium */
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem; /* 142.857% */
            }

            & > input {
                display: flex;
                padding: 0.8125rem 1.5rem 0.75rem 1.5rem;
                align-items: center;
                align-self: stretch;

                border: none;
                border-radius: 0.625rem;
                background: var(--slate-100, #f1f5f9);

                color: var(--slate-900, #0f172a);

                /* subtle-medium */
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem; /* 142.857% */
            }
        }

        & > button {
            display: flex;
            height: 3.375rem;
            padding: 0.3125rem 1rem;
            margin-top: 1.25rem;
            justify-content: center;
            align-items: center;
            gap: 0.625rem;
            align-self: stretch;

            border-radius: 0.75rem;
            border: none;
            background: var(--red-600, #dc2626);

            color: var(--white, #fff);

            /* h4 */
            font-family: Inter;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.75rem; /* 140% */
            letter-spacing: -0.00625rem;

            transition: opacity 0.2s ease;

            &:disabled {
                opacity: 0.5;
            }
        }
    }

    &.revocation-details > section > button {
        background-color: var(--green-500, #22c55e);
    }
}
