NODE_ENV=production
PORT=3000
PAYLOAD_SECRET=secret
LC_SEED=aaaaaa

MONGODB_URI=mongo-uri

REDIS_PORT=6379
REDIS_URL=redis-url

SMTP_HOST=smtp.sendgrid.net
SMTP_USER=apikey
SMTP_PASS=base 64 api key
EMAIL_FROM_TITLE=LearnCloud
EMAIL_FROM_SENDER=no-reply@learncloud.ai

USE_CLOUD_STORAGE=true 
S3_REGION=us-east-1
S3_BUCKET=bucket_name

CLAIM_PAGE_URL=https://learncard.app/claim/from-dashboard
COORDINATOR_URL=false
STATUS_URL=false