MONGODB_URI=<MONGO URI>
PAYLOAD_SECRET=aaaaaaaaaaaaaaaaaaaaaaaa
COORDINATOR_URL=http://localhost:4005
TENANT_NAME=lef_test
STATUS_URL=http://localhost:4008
SMTP_HOST=<SMTP HOST>
SMTP_USER=<SMTP USER>
SMTP_PASS=<SMTP PASSWORD>
EMAIL_FROM=Learning Economy <beestontaylor@learningeconomy.io>
CLAIM_PAGE_URL=http://localhost:8080
SERVER_URL=http://localhost:3000
